<!-- Footer -->
<footer class="footer bg-dark dark-mode pt-5 pb-4 pb-lg-5">
  <div class="container text-center pt-lg-3">
    <div class="navbar-brand justify-content-center text-dark mb-2 mb-lg-4">
      <img src="<%= asset_path("human_spinning.gif") %>" width="150" alt="Eldan Molecular Imaging">
      <img src="<%= asset_path("logo.png") %>" width="150" alt="Eldan Molecular Imaging">
    </div>
    <ul class="nav justify-content-center pt-3 pb-4 pb-lg-5">
      <li class="nav-item"><a href="<%= root_path %>" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="<%= about_path %>" class="nav-link">About</a></li>
      <li class="nav-item"><a href="<%= products_path %>" class="nav-link">Products</a></li>
      <li class="nav-item"><a href="<%= team_path %>" class="nav-link">Team</a></li>
      <li class="nav-item"><a href="<%= partners_path %>" class="nav-link">Partners</a></li>
      <li class="nav-item"><a href="<%= news_path %>" class="nav-link">News</a></li>
      <li class="nav-item"><a href="<%= contacts_path %>" class="nav-link">Contact</a></li>
    </ul>
    <div class="d-flex flex-column flex-sm-row justify-content-center">
      <form class="needs-validation" novalidate>
        <label for="subscr-email" class="form-label">Subscribe to our newsletter</label>
        <div class="input-group">
          <input type="email" id="subscr-email" class="form-control rounded-start ps-5" placeholder="Your email" required>
          <i class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
          <div class="invalid-tooltip position-absolute top-100 start-0">Please provide a valid email address.</div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
      </form>
    </div>
    <p class="nav d-block fs-sm text-center pt-5 mt-lg-4 mb-0">
      <span class="text-light opacity-60">&copy; All rights reserved. Made by </span>
      <a class="nav-link d-inline-block p-0" href="http://www.gelbhart.com/" target="_blank" rel="noopener">Gelbhart Innovations</a>
    </p>
  </div>
</footer>