<div class="jarallax d-none d-md-block" data-jarallax data-speed="0.35">
  <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary-translucent"></span>
  <div class="jarallax-img" style="background-image: url(<%= asset_path("cover.jpg") %>);"></div>
  <div class="d-none d-xxl-block" style="height: 200px;"></div>
  <div class="d-none d-md-block d-xxl-none" style="height: 200px;"></div>
</div>

<!-- Breadcrumb -->
<nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="<%= root_path %>"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Team</li>
  </ol>
</nav>

<!-- Team -->
<section class="container pb-5 mb-md-3 mb-lg-5">

  <h2 class="h1 text-center pt-1 pb-3 mb-3 mb-lg-4">Our Leadership</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

    <!-- Item -->
    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="<%= asset_path("rabinovich.png") %>" class="rounded-3" alt="Tal Rabinovich">
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="https://www.linkedin.com/in/tal-rabinovich-659a54/" target="_blank" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Tal Rabinovich</h3>
          <p class="fs-sm mb-0">General Manager</p>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="<%= asset_path("gelbhart.png") %>" class="rounded-3" alt="Bareket Gelbhart">
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="https://www.linkedin.com/in/bareket-gelbhart-83904a16" target="_blank" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Bareket Gelbhart</h3>
          <p class="fs-sm mb-0">International Business Manager</p>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="<%= asset_path("ikan.png") %>" class="rounded-3" alt="Ariel Ikan">
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="https://www.linkedin.com/in/ariel-ikan/" target="_blank" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Ariel Ikan</h3>
          <p class="fs-sm mb-0">TBD</p>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="<%= asset_path("duanis.png") %>" class="rounded-3" alt="Ronit Duanis">
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
            
              <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Ronit Duanis</h3>
          <p class="fs-sm mb-0">TBD</p>
        </div>
      </div>
    </div>

  </div>
</section>