<style>
  p {
    text-align: justify;
    text-justify: distribute;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
    line-break: auto;
  }
</style>

<div class="min-vh-100">

  <div class="jarallax d-none d-sm-block" data-jarallax data-speed="0.6">
    <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary-translucent"></span>
    <div class="jarallax-img" style="background-image: url(<%= asset_path(@jarallax) %>);"></div>
    <div style="height: 200px;"></div>
  </div>

  <!-- Breadcrumb -->
  <nav class="container py-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>"><i class="bx bx-home-alt fs-md me-2" role="none"></i>Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href=""><%= controller.controller_name.capitalize %></a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @title.split(' / ').first %></li>
    </ol>
  </nav>


  <!-- About -->
  <section class="container text-center text-sm-start" id="description">
    <h1 class="d-inline border-bottom"><%= @title.split(' / ').first %></h1>
    <p class="mt-3 mx-3 d-block col-md-9 col-lg-7">
      <%= yield %>
    </p>
  </section>

</div>