<style>
  .content-wrapper {
    font-size: 0.8rem;
    margin: auto;
  }

  @media (min-width: 576px) {
    .content-wrapper {
      font-size: 0.85rem;
      max-width: 75vw;
    }
  }

  @media (min-width: 768px) {
    .content-wrapper {
      font-size: 0.9rem;
      max-width: 50vw;
    }
  }
  @media (min-width: 992px) {
    .content-wrapper {
      font-size: 0.95rem;
    }
  }

  @media (min-width: 1200px) {
    .content-wrapper {
      font-size: 1rem;
    }
  }
</style>

<div>
  <div class="jarallax d-none d-sm-block mb-4" data-jarallax data-speed="0.6">
    <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary-translucent"></span>
    <div class="jarallax-img" style="background-image: url(<%= asset_pack_path 'media/images/' + @jarallax %>);"></div>
    <div style="height: 200px;"></div>
  </div>

  <!-- Breadcrumb -->
  <%= render 'shared/breadcrumb' %>

  <!-- About -->
  <section class="container text-center mt-4">

    <div class="my-3">
      <%= image_pack_tag @logo, alt: 'Logo', style: 'max-width: 100px; height: auto;' if @logo != "" %>
    </div>

    <h1 class="mb-4 text-center" style="font-size: 2.5rem;"><%= @title.split(' / ').first %></h1>

    <article class="content-wrapper">
      <%= yield %>
    </article>

  </section>
</div>