<style>
  @media (min-width: 1400px) {
    h1 {
      font-size: 60px;
      white-space: nowrap;
    }
  }
</style>

<!-- Hero -->
<section class="bg-dark dark-mode">
  <div class="row justify-content-center align-items-center py-4">

    <!-- Breadcrumb -->
    <nav class="d-none d-sm-block ps-4 ps-md-5" aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-start">
        <li class="breadcrumb-item">
          <a href="<%= root_path %>"><i class="bx bx-home-alt fs-lg" role="none"></i>Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="">Products</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= @breadcrumb %></li>
      </ol>
    </nav>

    <!-- Title + Desc + Image -->
    <div class="col-10 col-sm-8 col-md-6 col-lg-12 col-xl-6 text-center" id="desc">
      <h1 class="pb-4"><%= @product_title %></h1>
      <div class="row justify-content-center align-items-center">
        <p class="col-lg-4 col-xl-5"><%= @product_desc %></p>
        <img class="col-lg-4 col-xl-5" src="<%= asset_path(File.basename(request.path, ".*")) %>" alt="Product Image">
      </div>
    </div>

  </div>
</section>

<!-- Product Description -->
<section class="my-3">
  <div class="">
    <% i = 0 %>
    <% for j in @data do %>
      <div class="row align-items-center justify-content-center px-4 px-sm-2 py-4 <%= "bg-secondary" if i.even? %>">
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2 text-dark fw-semibold">
          <%= @data[i][0] %>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2 text-center">
          <%= @data[i][1] %>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
  </div>
</section>

<!-- FAQ -->
<section class="bg-secondary pt-5 pb-3">
  <div class="row justify-content-center align-items-center align-items-sm-start">
    <div class="col-10 col-sm-5 col-lg-4 text-center text-sm-start ps-sm-5 pb-5">
      <h2 class="">Any questions? <br>Check out the FAQs</h2>
      <p class="fs-lg d-none d-sm-block">Still have unanswered questions and need to get in touch?</p>
      <a href="../contacts/new?via=<%= @product_title.gsub("<sup>","").gsub("</sup>","") %>" class="btn btn-primary">Contact support</a>
    </div>
    <div class="col-10 col-sm-5 offset-sm-1">
      <div class="accordion" id="faq">

        <!-- Questions -->
        <% i = 0 %>
        <% for j in @questions do %>
          <div class="accordion-item border-0 rounded-3 shadow-sm">
            <h2 class="accordion-header" id="q<%= i %>-heading">
              <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q<%= i %>" aria-expanded="false" aria-controls="q<%= i %>">
                <%= @questions[i][0] %>
              </button>
            </h2>
            <div id="q<%= i %>" class="accordion-collapse collapse" aria-labelledby="q<%= i %>-heading" data-bs-parent="#faq">
              <div class="accordion-body fs-sm pt-0"><%= @questions[i][1] %> </div>
            </div>
          </div>
          <% i += 1 %>
        <% end %>

      </div>
    </div>
  </div>
</section>