<style>
  .center-image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 45%;
  }

  @media (min-width: 768px) {
    .center-image {
      padding-top: 35%;
    }
  }

  @media (min-width: 992px) {
    .center-image {
      padding-top: 30%;
    }
  }

  @media (min-width: 1440px) {
    .center-image {
      padding-top: 20%;
    }
  }
</style>

<!-- Hero Section -->
<section>
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">

      <!-- Breadcrumb -->
      <div class="col-12 mb-2">
        <%= render 'shared/breadcrumb' %>
      </div>

      <!-- Title + Desc + Image -->
      <div class="col-10 col-lg-8 text-center mb-3">
        <h1 class="fs-2 fs-md-3 fs-lg-4"><%= @product_title %></h1>
      </div>
      <div class="col-10 col-md-8 col-lg-6 text-center mb-3">
        <p class="fs-6 fs-md-5"><%= @product_desc %></p>
      </div>
      <div class="col-10 col-lg-8 mb-3">
        <div class="center-image w-100 mx-auto" style="background-image: url(<%= asset_path(File.basename(request.path, ".*")) %>);"></div>
      </div>
      
    </div>
  </div>
</section>

<!-- Product Properties -->
<section class="container-fluid my-3">
  <% for row in @data do %>
    <div class="row align-items-center justify-content-center px-4 px-sm-2 py-4 <%= "bg-secondary" if @data.find_index(row).even? %>">
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2 text-dark fw-semibold">
        <%= row[0] %>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2 text-center">
        <%= row[1] %>
      </div>
    </div>
  <% end %>
</section>

<!-- FAQ -->
<% if @questions.length > 0 %>
  <section class="bg-secondary pt-5 pb-3">
    <div class="row justify-content-center align-items-center align-items-sm-start">
      <div class="col-10 col-sm-5 col-lg-4 text-center text-sm-start ps-sm-5 pb-5">
        <h2 class="">Any questions? <br>Check out the FAQs</h2>
        <p class="fs-lg d-none d-sm-block">Still have unanswered questions and need to get in touch?</p>
        <a href="../contacts/new?via=<%= @product_title.gsub("<sup>","").gsub("</sup>","") %>" class="btn btn-primary">Contact support</a>
      </div>
      <div class="col-10 col-sm-5 offset-sm-1">
        <div class="accordion" id="faq">

          <!-- Questions -->
          <% @questions.each_with_index do |question, index| %>
            <div class="accordion-item border-0 rounded-3 shadow-sm">
              <h2 class="accordion-header" id="q<%= index %>-heading">
                <button class="accordion-button shadow-none rounded-3 collapsed mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#q<%= index %>" aria-expanded="false" aria-controls="q<%= index %>">
                  <%= question[0] %>
                </button>
              </h2>
              <div id="q<%= index %>" class="accordion-collapse collapse mb-3" aria-labelledby="q<%= index %>-heading" data-bs-parent="#faq">
                <div class="accordion-body fs-sm pt-0"><%= question[1] %> </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </section>
<% end %>