<!-- Hero -->
<section class="bg-dark dark-mode">
  <div class="row justify-content-center align-items-center py-4 w-100">

    <!-- Breadcrumb -->
    <div>
      <%= render 'shared/breadcrumb' %>
    </div>

    <!-- Title + Desc + Image -->
    <div class="mt-3 col-10 col-sm-8 col-md-6 col-lg-6 col-xl-8 col-xxl-6">
      <h1 class="display-4 text-center"><%= @product_title %></h1>

      <div class="row">
        <div class="col-md-7">
          <figure class="position-relative border-0 shadow-sm py-3 p-0 p-lg-4 mt-4 mb-0 ms-xl-5">
            <blockquote class="mt-2 mb-0">
              <p class="fs-lg"><%= @product_desc %></p>
            </blockquote>
          </figure>
        </div>
        <div class="col-md-5">
          <div class="position-relative d-flex h-100">
            <div class="position-absolute top-0 start-0 w-100 h-100 rounded-3 bg-size-contain bg-repeat-0 bg-position-center" style="background-image: url(<%= asset_path(File.basename(request.path, ".*")) %>);"></div>
          </div>
        </div>
      </div>
      
    </div>

  </div>
</section>

<!-- Product Properties -->
<section class="container-fluid my-3">
  <% for row in @data do %>
    <div class="row align-items-center justify-content-center px-4 px-sm-2 py-4 <%= "bg-secondary" if @data.find_index(row).even? %>">
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2 text-dark fw-semibold">
        <%= row[0] %>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2 text-center">
        <%= row[1] %>
      </div>
    </div>
  <% end %>
</section>

<!-- FAQ -->
<% if @questions.length > 0 %>
  <section class="bg-secondary pt-5 pb-3">
    <div class="row justify-content-center align-items-center align-items-sm-start">
      <div class="col-10 col-sm-5 col-lg-4 text-center text-sm-start ps-sm-5 pb-5">
        <h2 class="">Any questions? <br>Check out the FAQs</h2>
        <p class="fs-lg d-none d-sm-block">Still have unanswered questions and need to get in touch?</p>
        <a href="../contacts/new?via=<%= @product_title.gsub("<sup>","").gsub("</sup>","") %>" class="btn btn-primary">Contact support</a>
      </div>
      <div class="col-10 col-sm-5 offset-sm-1">
        <div class="accordion" id="faq">

          <!-- Questions -->
          <% for question in @questions do %>
            <div class="accordion-item border-0 rounded-3 shadow-sm">
              <h2 class="accordion-header" id="q<%= @question.find_index(question) %>-heading">
                <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q<%= @question.find_index(question) %>" aria-expanded="false" aria-controls="q<%= @question.find_index(question) %>">
                  <%= question[0] %>
                </button>
              </h2>
              <div id="q<%= i@question.find_index(question) %>" class="accordion-collapse collapse" aria-labelledby="q<%= @question.find_index(question) %>-heading" data-bs-parent="#faq">
                <div class="accordion-body fs-sm pt-0"><%= question[1] %> </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </section>
<% end %>