<% content_for :title, (@title.present? ? "#{@title} / EldanMI" : "EldanMI") %>
<% content_for :description, (@description || "Eldan Molecular Imaging is a young solid division, focused on supporting patients and physicians, by providing them with the highest-level products needed for diagnostic imaging & Nuclear Medicines procedures") %>

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <title><%= yield :title %></title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="<%= yield :description %>">
    <meta name="keywords" content="radiopharmaceuticals, nuclear medicines, nulecular imaging, radiopharma, technetium, tc99, thallium, gallium, radiopharmacy, generators, isorad, curium, polatom, GE, GBQ, curie, MCI">
    <meta name="author" content="Gelbhart Innovations">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Theme switcher -->
    <script src="<%= asset_path("theme-switcher.min.js") %>"></script>

    <!-- Favicon and Touch Icons-->
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path("favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path("favicon-16x16.png") %>">
    <link rel="manifest" href="<%= asset_path("site.webmanifest") %>">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="<%= asset_path("boxicons.min.css") %>">
    <link rel="stylesheet" media="screen" href="<%= asset_path("swiper-bundle.min.css") %>">

    <!-- Styles and scripts-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', type: 'module', 'data-turbolinks-track': 'reload' %>

    <!-- Security meta tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-74Q234CRMB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-74Q234CRMB');
    </script>

    <!-- Page loading script -->
    <script>
      (() => {
        window.onload = () => {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(() => preloader.remove(), 1000);
        };
      })();
    </script>
  </head>

  <!-- Body -->
  <body>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper min-vh-100 <%= 'bg-faded-primary' if controller.controller_name == "contacts" %>">

      <% if controller.controller_name != "errors" %>
        <%= render 'shared/header' %>
      <% end %>

      <% if controller.controller_name == "about" %>
        <%= render 'layouts/about' %>
      <% elsif controller.controller_name == "products" %>
        <%= render 'layouts/products' %>
      <% elsif controller.controller_name == "documents" %>
        <%= render 'layouts/documents' %>
      <% elsif controller.controller_name == "news" && !current_page?(news_path) %>
        <%= render 'layouts/news' %>
      <% elsif controller.controller_name == "errors" %>
        <%= render 'layouts/error' %>
      <% else %>
        <%= yield %>
      <% end %>

    </main>

    <%= render 'shared/footer' %>

    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll role="button" target="_blank">
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up" role="none"></i>
    </a>

    <!-- Scripts -->
    <%= deferred_javascript_tags(
      "swiper-bundle.min.js",
      "rellax.min.js",
      "lottie-player.js",
      "theme.min.js"
    ) %>

    <!-- Accessability Widget -->
    <script async defer>(function(){var s = document.createElement("script");s.setAttribute("data-account","kY4u8WUSMk");s.setAttribute("src","https://cdn.userway.org/widget.js");document.body.appendChild(s);})();</script>
  </body>
</html>