<% content_for :title, (@title.present? ? "#{@title} / EldanMI" : "EldanMI") %>
<% content_for :description, (@desc || "Eldan Molecular Imaging is a young solid division, focused on supporting patients and physicians, by providing them with the highest-level products needed for diagnostic imaging & Nuclear Medicines procedures") %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= yield :title %></title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="<%= yield :description %>">
    <meta name="keywords" content="radiopharmaceuticals, nuclear medicines, nulecular imaging, radiopharma, technetium, tc99, thallium, gallium, radiopharmacy, generators, isorad, curium, polatom, GE, GBQ, curie, MCI">
    <meta name="author" content="Gelbhart Innovations">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicon and Touch Icons-->
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path("favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path("favicon-16x16.png") %>">
    <link rel="manifest" href="<%= asset_path("site.webmanifest") %>">
    <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="<%= asset_path("boxicons.min.css") %>" async/>
    <link rel="stylesheet" media="screen" href="<%= asset_path("swiper-bundle.min.css") %>" async/>
    <link rel="stylesheet" media="screen" href="<%= asset_path("lightgallery-bundle.min.css") %>" async/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="<%= asset_path("theme.css") %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-74Q234CRMB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-74Q234CRMB');
    </script>

    <!-- Theme mode -->
    <script>
      const mode = window.localStorage.getItem('mode');
      const root = document.documentElement;
      if (mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>

    <!-- Page loading script -->
    <script>
      (() => {
        window.onload = () => {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(() => preloader.remove(), 1000);
        };
      })();
    </script>
  </head>

  <!-- Body -->
  <body>

    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper min-vh-100 <%= 'bg-faded-primary' if controller.controller_name == "contacts" %>">

      <% if controller.controller_name != "errors" %>
        <%= render 'shared/header' %>
      <% end %>

      <% if controller.controller_name == "about" %>
        <%= render 'layouts/about' %>
      <% elsif controller.controller_name == "products" %>
        <%= render 'layouts/products' %>
      <% elsif controller.controller_name == "documents" %>
        <%= render 'layouts/documents' %>
      <% elsif controller.controller_name == "news" && !current_page?(news_path) %>
        <%= render 'layouts/news' %>
      <% elsif controller.controller_name == "errors" %>
        <%= render 'layouts/error' %>
      <% else %>
        <%= yield %>
      <% end %>

    </main>

    <%= render 'shared/footer' %>

    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll role="button" target="_blank">
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up" role="none"></i>
    </a>

    <!-- Vendor Scripts -->
    <%= custom_script_tag("bootstrap.bundle.min.js") %>
    <%= custom_script_tag("swiper-bundle.min.js") %>
    <%= custom_script_tag("smooth-scroll.polyfills.min.js") %>
    <%= custom_script_tag("cleave.min.js") %>
    <%= custom_script_tag("jarallax.min.js") %>
    <%= custom_script_tag("parallax.min.js") %>
    <%= custom_script_tag("lightgallery.min.js") %>
    <%= custom_script_tag("lg-fullscreen.min.js") %>
    <%= custom_script_tag("lg-zoom.min.js") %>
    <%= custom_script_tag("lg-video.min.js") %>
    <%= custom_script_tag("lg-thumbnail.min.js") %>
    <%= custom_script_tag("rellax.min.js") %>
    
    <% if controller.controller_name == "errors" %>
      <%= custom_script_tag("lottie-player.js") %>
    <% end %>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/handlebars/4.7.7/handlebars.min.js" defer></script>

    <!-- Main Theme Script -->
    <%= custom_script_tag("theme.min.js") %>

    <!-- Accessability Widget -->
    <script async defer>(function(){var s = document.createElement("script");s.setAttribute("data-account","kY4u8WUSMk");s.setAttribute("src","https://cdn.userway.org/widget.js");document.body.appendChild(s);})();</script>
  </body>
</html>